<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meta Insight</title>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"
    ></script>
    <script
      nomodule
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"
    ></script>
    <script src="/js/logout.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>

  <body>
    <ion-split-pane when="sm" content-id="main-content">
      {{#notEqual url '/login'}}
        <ion-menu content-id="main-content" type="overlay">
          <ion-content class="ion-padding">
            <h1>Meta-Insight</h1>
            <ion-item-divider>
              <ion-label>Account</ion-label>
            </ion-item-divider>
            {{#if logged_in}}
              <ion-button 
                href="/reviews" 
                {{#if (isActive '/reviews' url)}}
                  color="primary"
                  fill="clear"
                {{else}}
                  color="secondary"
                {{/if}}
                expand="block">
                My Reviews
              </ion-button>
            {{else}}
              <ion-button
                fill="clear"
                color="primary"
                href="/login"
                expand="block">
                <ion-icon slot="start" name="log-in"></ion-icon>
                Login
              </ion-button>
            {{/if}}
            <ion-item-divider>
              <ion-label>Categories</ion-label>
            </ion-item-divider>
            <ion-button 
              href="/" 
              {{#if (isActive '/' url)}}
              color="primary"
              fill="clear"
              {{else}}
              color="secondary"
              {{/if}}
              expand="block">Home</ion-button>
            <ion-button
              href="/games"
              {{#if (isActive '/games' url)}}
              color="primary"
              fill="clear"
              {{else}}
              color="secondary"
              {{/if}}
              expand="block"
            >Games</ion-button>
            <ion-button
              href="/platforms"
              {{#if (isActive '/platforms' url)}}
              color="primary"
              fill="clear"
              {{else}}
              color="secondary"
              {{/if}}
              expand="block"
            >Platforms</ion-button>
            <ion-button
              href="/genres"
              {{#if (isActive '/genres' url)}}
              color="primary"
              fill="clear"
              {{else}}
              color="secondary"
              {{/if}}
              expand="block"
            >Generes</ion-button>
            <ion-button
              href="/publishers"
              {{#if (isActive '/publishers' url)}}
              color="primary"
              fill="clear"
              {{else}}
              color="secondary"
              {{/if}}
              expand="block"
            >Publishers</ion-button>
            <ion-button 
            href="/tags" 
            {{#if (isActive '/tags' url)}}
            color="primary"
              fill="clear"
              {{else}}
              color="secondary"
              {{/if}}
            expand="block">Tags</ion-button>
          </ion-content>
          {{#if logged_in}}
            <ion-footer>
              <ion-button
                fill="clear"
                color="secondary"
                onclick="logoutUser(event)"
                expand="block">
                <ion-icon slot="start" name="log-out"></ion-icon>
                Logout
              </ion-button>
            </ion-footer>
          {{/if}}
        </ion-menu>
      {{/notEqual}}
      <div class="ion-page" id="main-content">
        {{#notEqual url '/login'}}
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
              </ion-buttons>
              <ion-searchbar placeholder="Search Games"></ion-searchbar>
            </ion-toolbar>
          </ion-header>
        {{/notEqual}}
        <ion-content class="ion-padding">
          {{{body}}}
        </ion-content>
      </div>
    </ion-split-pane>
  </body>

</html>