<input type="hidden" id="game-id" name="game-id" value="{{game.id}}" />
<input type="hidden" id="user-id" name="user-id" value="{{logged_in_id}}" />
<input type="hidden" id="game-name" name="game-name" value="{{game.name}}" />
<div class="row align-center mb-5">
    <p><strong>Details</strong></p>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Released: {{game.released}}</ion-card-title>
            <ion-card-subtitle>{{game.name}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-img src={{game.background_image}} alt={{game.slug}}></ion-img>
            <p><strong>{{game.rating}} &mdash; {{game.esrb_rating.name}}</strong></p>
            {{{game.description}}}
        </ion-card-content>
    </ion-card>
    <div>
        {{#if logged_in}}
            <h2>Leave a Review</h2>
            <form>
                <ion-list>
                    <ion-item>
                        <ion-select id="review-rating" color="light" label="Select rating" placeholder="Select rating">
                            <ion-select-option value="1">&#11088;</ion-select-option>
                            <ion-select-option value="2">&#11088;&#11088;</ion-select-option>
                            <ion-select-option value="3">&#11088;&#11088;&#11088;</ion-select-option>
                            <ion-select-option value="4">&#11088;&#11088;&#11088;&#11088;</ion-select-option>
                            <ion-select-option value="5">&#11088;&#11088;&#11088;&#11088;&#11088;</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Review</ion-label>
                        <ion-textarea name="review" rows="4" id="review-content"></ion-textarea>
                    </ion-item>
                    <ion-button expand="full" color="light" class="review-btn" onclick="addReview(event)">Submit</ion-button>
                </ion-list>
            </form>
        {{else}}
            <h2>Leave a Review</h2>
            <form>
                <ion-list>
                    <ion-item>
                        <ion-select id="review-rating" color="light" label="Select rating" placeholder="Select rating" disabled>
                            <ion-select-option value="1">&#11088;</ion-select-option>
                            <ion-select-option value="2">&#11088;&#11088;</ion-select-option>
                            <ion-select-option value="3">&#11088;&#11088;&#11088;</ion-select-option>
                            <ion-select-option value="4">&#11088;&#11088;&#11088;&#11088;</ion-select-option>
                            <ion-select-option value="5">&#11088;&#11088;&#11088;&#11088;&#11088;</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Review</ion-label>
                        <ion-textarea name="review" rows="4" disabled></ion-textarea>
                    </ion-item>
                    <p>You must be logged in to post a review.</p>
                    <ion-button expand="full" class="review-btn" color="light" href="/login">Login</ion-button>
                </ion-list>
            </form>
        {{/if}}
        <div class="reviews">
            <ion-list>
                <ion-item-divider class="reviews-header">
                    <ion-label class="text-left"><ion-icon name="chatbox-ellipses-outline"></ion-icon>&nbsp;{{reviews.length}} Reviews</ion-label>
                </ion-item-divider>
                {{#if reviews}}
                    <ion-item-group class="review-section">
                        {{#each reviews as |review|}}
                            <ion-item>
                                <ion-icon name="person-circle-outline" class="ion-icon"></ion-icon>
                                <ion-label>
                                    <div class="date-time"><small>{{format_date review.date_created}}</small></div>
                                    <div class="review-rating"><small>{{{generateRating review.rating}}}</small></div>
                                    <h2>{{review.user.username}}</h2>
                                    <p>{{review.description}}</p>
                                </ion-label>
                            </ion-item>
                        {{/each}}
                    </ion-item-group>
                {{else}}
                    <ion-item-group class="review-section">
                        <ion-item>
                            <ion-icon name="sparkles-outline" class="ion-icon"></ion-icon>
                            <ion-label>
                                <h2>Be the first to review!</h2>
                            </ion-label>
                        </ion-item>
                    </ion-item-group>
                {{/if}}
            </ion-list>
        </div>
    </div>
</div>
<ion-toast class="rating-err" duration="5000" message="Select a rating."></ion-toast>
<ion-toast class="review-err" duration="5000" message="You must include your review."></ion-toast>