<div class="row align-center mb-5">
  <h1>Platforms</h1>
  <ion-searchbar
    debounce="500"
    placeholder="Search"
    id="search_platforms"
  ></ion-searchbar>
  <ion-grid>
    <ion-row>
      {{#each platforms as |platform|}}
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
          <a href="/platforms/{{platform.id}}">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Game Count: {{platform.games_count}}</ion-card-title>
                <ion-card-subtitle>{{platform.name}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <img src={{platform.image_background}} alt={{platform.slug}} />
                {{platform.description}}
              </ion-card-content>
            </ion-card>
          </a>
        </ion-col>
      {{/each}}
    </ion-row>
  </ion-grid>
</div>